<div class="targetrandom">
    <div class="tagetsection1">
        <img src="{{this.image_url}}" alt="">
    </div>
    
    <div class="tagetsection2">
        <h5>{{this.name}}</h5>
        <p>{{this.tagline}}</p>
        <p>{{this.description}}</p>
        <p>{{this.food_pairing}}</p>
        <p>{{this.brewers_tips}}</p>
    </div>
</div>